@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-purple: #120920;
  --purple: #8753d4;
  --light-purple: #eadff8a3;
  --yellow: #ffdb5c;
}

body {
  background-color: var(--dark-purple);
  color: white;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}